<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org" lang="zh_CN">
<head th:replace="common/common_head::common_head('修改个人资料')"></head>

<body>
  <section id="container">
    <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
    *********************************************************************************************************************************************************** -->
    <!--header start-->
    <header th:replace="common/layout::header"></header>
    <!--header end-->

    <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
    *********************************************************************************************************************************************************** -->
    <!--sidebar start-->
    <aside th:replace="common/layout::sidebar"></aside>
    <!--sidebar end-->

    <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
    *********************************************************************************************************************************************************** -->
    <!--main content start-->
    <section id="main-content">
      <section class="wrapper site-min-height">
        <div class="row mt">
          <div class="col-md-12">
            <div class="content-panel">
              <h4>
         	    <i class="fa fa-angle-right"></i>个人资料<hr>
         	  </h4>
            
              <div class="form-panel">
                <form class="form-horizontal style-form" id="form_info"
                  th:object="${user}">
                  
                  <input type="hidden" th:field="*{id}" />
                  
                  <!-- 用户名 -->
                  <div class="form-group" style="padding-bottom:0px;">
                    <label class="col-sm-2 col-sm-2 control-label">
                    <b style="color:red;">* </b>用户名</label>
                    <div class="col-sm-10">
                      <input type="text" class="myform-control2" 
                        placeholder="姓名" id="name" 
                        th:field="*{name}" />
                    </div>
                  </div>
                  
                  <!-- 联系电话 -->
                  <div class="form-group" style="padding-bottom:0px;">
                    <label class="col-sm-2 col-sm-2 control-label">
                    <b style="color:red;">* </b>联系电话</label>
                    <div class="col-sm-10">
                      <input type="text" class="myform-control2" 
                        placeholder="联系电话" id="phone" 
                        th:field="*{phone}" />
                    </div>
                  </div>
                  
                  <!-- 密码 -->
                  <div class="form-group" style="padding-bottom:0px;">
                    <label class="col-sm-2 col-sm-2 control-label"> 密码</label>
                    <div class="col-sm-10">
                      <input type="password" class="myform-control2" 
                      placeholder="至少为6个字符" id="password" 
                      th:field="*{password}" />
                    </div>
                  </div>
                  
                  <!-- 确认密码 -->
                  <div class="form-group" style="padding-bottom:0px;">
                    <label class="col-sm-2 col-sm-2 control-label"> 确认密码</label>
                    <div class="col-sm-10">
                      <input type="password" class="myform-control2" 
                      placeholder="确认密码" id="password2" />
                    </div>
                  </div>

                  <!-- 保存 -->
                  <div class="form-group" style="padding-bottom:0px;">
                    <label class="col-sm-2 col-sm-2 control-label"> </label>
                    <div class="col-sm-10">
                      <input type="button" class="btn btn-theme03" 
                        value="保存个人资料" id="save" 
                        onclick="savePersonalInfo()">
                    </div>
                  </div>
                  
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--/wrapper -->
    </section>
    <!-- /MAIN CONTENT -->
    
    <!--main content end-->

    
    <!-- **********************************************************************************************************************************************************
      MAIN FOOTER
    *********************************************************************************************************************************************************** -->
    <!--footer start-->
    <footer th:replace="common/layout::footer"></footer>
    <!--footer end-->
  </section>

  <!-- common js -->
  <div th:include="common/common_js::common_js" th:remove="tag"></div>

  <!--script for this page-->
  <script>
  	function savePersonalInfo() {
  		// 表单验证
  	  	$('#name').validate("用户名");
  	  	$('#phone').validate("联系电话");
  	  	
  	  	var password = $('#password').val();
  	  	var password2 = $('#password2').val();
  	  	if (password != null && password != "") {
  	  		if (password != password2) {
  	  			layer.msg("两次输入的密码不一致");
  	  			return ;
  	  		}
  	  		else if (password.length < 6) {
  	  			layer.msg("密码至少为6个字符");
  	  			return ;
  	  		}
  	  	}
  	  	
  	  	$.ajax({
  	  		url: '/med/user/saveInfo.do',
  	  		type: 'POST',
  	  		data: $('#form_info').serialize(),
  	  		success: function(result) {
  	  			if (result.resultCode == 200) {
  	  			   layer.msg("保存成功");
				   $(location).attr('href', '/med/personalInfo.do');
             	};
  	  		},
  	  		error: function() {
  	  			console.log("服务器异常，个人信息更新失败！");
  	  		}
  	  	})
  	}
  </script>

</body>
</html>
