<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org" lang="zh_CN">
<head th:replace="common/common_head::common_head('用户信息管理')"></head>
<body>
  <section id="container">

    <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
    *********************************************************************************************************************************************************** -->
    <!--header start-->
    <header th:replace="common/layout::header"></header>
    <!--header end-->


    <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
    *********************************************************************************************************************************************************** -->
    <!--sidebar start-->
    <aside th:replace="common/layout::sidebar"></aside>
    <!--sidebar end-->


    <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
    *********************************************************************************************************************************************************** -->
    <!--main content start-->
    <section id="main-content">
      <section class="wrapper site-min-height">
        <div class="row mt">
          <div class="col-md-12">
            <div class="content-panel">
              <table id="tbl_user" width="100%" 
                class="table table-striped table-advance table-hover">
                <h4>
                  <i class="fa fa-angle-right"></i>用户信息管理<hr>
                </h4>
                <h5>
                  <a href="#" data-toggle="modal" 
                    data-target="#add" class="mylink"
                    th:if="${@roleService.userHasPrivilege(session.user.id, '添加用户、修改用户信息')}">
                    <i class="fa fa-plus fa-lg"></i> 添加新用户
                  </a>
                  <a href="#" data-toggle="modal" 
                    data-target="#filter" class="mylink">
                    <i class="fa fa-filter fa-lg"></i> 筛选
                  </a>
                  <a href="#" class="mylink"
                    onclick="user_refresh()">
                    <i class="fa fa-refresh fa-lg"></i> 显示全部
                  </a>
                </h5>
                <br />
                <thead>
                  <tr>
                    <th class="hidden-phone">编号</th>
                    <th>登录名</th>
                    <th>用户名</th>
                    <th>联系电话</th>
                    <th>角色</th>
                    <th>账号状态</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  
                  
                </tbody>
              </table>

              <hr>
              
              <div class="M-box m-style"></div>  
            </div>
            <!-- /content-panel -->
          </div>
          <!-- /col-md-12 -->
        </div>
        <!-- /row -->
      </section>
      <!--/wrapper -->
    </section>

    <!-- /MAIN CONTENT -->
    <!--main content end-->

    <!-- **********************************************************************************************************************************************************
      MAIN FOOTER
      *********************************************************************************************************************************************************** -->
    <!--footer start-->
    <footer th:replace="common/layout::footer"></footer>
    <!--footer end-->
  </section>

  <!-- Edit Modal -->
  <div class="modal fade" id="edit" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"
            aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">修改用户信息</h4>
        </div>
        <div class="modal-body">
          <div class="form-panel">
            <form class="form-horizontal style-form" id="form_edit">
              <!-- 用户编号 -->
              <div class="form-group" style="padding-bottom:0px;">
                <label class="col-sm-2 col-sm-2 control-label">编号</label>
                <div class="col-sm-10">
                  <input class="form-control" id="id_edit" value=""
                    type="text" name="id" readonly="readonly" />
                </div>  
              </div>
          
              <!-- 登录名 -->
              <div class="form-group" style="padding-bottom:0px;">
                <label class="col-sm-2 col-sm-2 control-label"
                   style="font-size:12px;">
                   <b style="color:red;">* </b>登录名</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control"
                    placeholder="登录名" name="username" 
                    id="username_edit" readonly="readonly">
                </div>
              </div>
              
              <!-- 用户名 -->
              <div class="form-group" style="padding-bottom:0px;">
                <label class="col-sm-2 col-sm-2 control-label"
                   style="font-size:12px;">
                   <b style="color:red;">* </b>用户名</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control"
                    placeholder="用户名" name="name" id="name_edit"
                    readonly="readonly">
                </div>
              </div>
              
              <!-- 联系电话 -->
              <div class="form-group" style="padding-bottom:0px;">
                <label class="col-sm-2 col-sm-2 control-label"
                   style="font-size:12px;">联系电话</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control"
                    placeholder="联系电话" name="phone" id="phone_edit"
                    readonly="readonly">
                </div>
              </div>
              
              <!-- 角色 -->
              <div class="form-group" style="padding-bottom:0px;">
                <label class="col-sm-2 col-sm-2 control-label"
                   style="font-size:12px;">
                   <b style="color:red;">* </b>角色</label>
                <div class="col-sm-10">
                  <label class="form-control-static" 
                    style="font-size:13px; font-weight:600;"
                    name="role" id="role_edit" ></label>
                  <a data-toggle="modal" data-target="#select" 
                  style="margin-left:15px;" href="#" 
                  onclick="load_role(1)">选择角色</a>
                </div>
              </div>
              
              <!-- 账户状态 -->
              <div class="form-group" style="padding-bottom:0px;">
                <label class="col-sm-2 col-sm-2 control-label">
                <b style="color:red;">* </b>账号状态</label>
                <div class="col-sm-10">
                  <select class="myform-control" name="state"
                    id="state_edit">
                    <option value="1">激活</option>
                    <option value="0">注销</option>
                  </select>
                </div>
              </div>
               
            </form>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default"
            data-dismiss="modal">关闭</button>
          <button type="button" class="btn btn-primary"
            onclick="user_update()">保存</button>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Add Modal -->
  <div class="modal fade" id="add" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"
            aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">添加新用户</h4>
        </div>
        <div class="modal-body">
          <div class="form-panel">
            <form class="form-horizontal style-form" id="form_add">
              <!-- 登录名 -->
              <div class="form-group" style="padding-bottom:0px;">
                <label class="col-sm-2 col-sm-2 control-label"
                   style="font-size:12px;">
                   <b style="color:red;">* </b>登录名</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control"
                    placeholder="登录名" name="username"
                    id="username_add">
                </div>
              </div>
              
              <!-- 用户名 -->
              <div class="form-group" style="padding-bottom:0px;">
                <label class="col-sm-2 col-sm-2 control-label">
                <b style="color:red;">* </b>用户名</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control"
                    placeholder="用户名" name="name"
                    id="name_add">
                </div>
              </div>
              
              <!-- 联系电话 -->
              <div class="form-group" style="padding-bottom:0px;">
                <label class="col-sm-2 col-sm-2 control-label">联系电话</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control"
                    placeholder="联系电话" name="phone"
                    id="phone_add">
                </div>
              </div>
              
              <!-- 角色 -->
              <div class="form-group" style="padding-bottom:0px;">
                <label class="col-sm-2 col-sm-2 control-label"
                   style="font-size:12px;">
                   <b style="color:red;">* </b>角色</label>
                <div class="col-sm-10">
                  <label id="role_add" name="role" 
                    class="form-control-static" 
                    style="font-size:13px; font-weight:600;"></label>
                  <a data-toggle="modal" data-target="#select" 
                  style="margin-left:15px;" href="#" onclick="load_role(2)">选择角色</a>
                </div>
              </div>
              
              <!-- 账号状态 -->
              <div class="form-group" style="padding-bottom:0px;">
                <label class="col-sm-2 col-sm-2 control-label">
                <b style="color:red;">* </b>账号状态</label>
                <div class="col-sm-10">
                  <select class="myform-control" name="state"
                    id="state_add">
                    <option value="1">激活</option>
                    <option value="0">注销</option>
                  </select>
                </div>
              </div>          
              
            </form>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default"
            data-dismiss="modal">关闭</button>
          <button id="user_add" type="button" 
            onclick="user_add()"
            class="btn btn-primary">确定</button>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Delete Modal -->
  <div class="modal fade" id="delete" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"
            aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">删除提示</h4>
        </div>
        <div class="modal-body">
                              删除后将无法恢复，确定要删除吗？
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default"
            data-dismiss="modal">取消</button>
          <button type="button" class="btn btn-primary"
            onclick="user_delete()">确定</button>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Filter Modal -->
  <div class="modal fade" id="filter" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"
            aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">筛选用户</h4>
        </div>
        <div class="modal-body">
          <div class="form-panel">
            <form class="form-horizontal style-form" id="form_filter">
              <!-- 编号 -->
              <div class="form-group" style="padding-bottom:0px;">
                <label class="col-sm-2 col-sm-2 control-label">编号</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control"
                    placeholder="请输入完整的用户编号" name="id"
                    id="id_filter">
                </div>
              </div>
              
              <!-- 登录名 -->
              <div class="form-group" style="padding-bottom:0px;">
                <label class="col-sm-2 col-sm-2 control-label">登录名</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" name="username"
                    placeholder="请输入完整的登录名" id="username_filter">
                </div>
              </div>
              
              <!-- 角色 -->
              <div class="form-group" style="padding-bottom:0px;">
                <label class="col-sm-2 col-sm-2 control-label">角色</label>
                <div class="col-sm-10">
                  <select class="myform-control" name="role" 
                    id="role_filter">
                    <option value="">--请选择角色--</option>
                  </select>
                </div>
              </div>
              
              <!-- 账号状态 -->
              <div class="form-group" style="padding-bottom:0px;">
                <label class="col-sm-2 col-sm-2 control-label">账号状态</label>
                <div class="col-sm-10">
                  <select class="myform-control" name="state"
                    id="state_filter">
                    <option value="">--选择账号状态--</option>
                    <option value="1">激活</option>
                    <option value="0">注销</option>
                  </select>
                </div>
              </div>
              
            </form>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default"
            data-dismiss="modal">关闭</button>
          <button type="button" class="btn btn-primary"
            onclick="user_filter()">筛选</button>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Select Modal -->
  <div class="modal fade" id="select" tabindex="1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"
            aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">选择角色</h4>
        </div>
        <div class="modal-body">
          <div class="form-panel">
            <form class="form-horizontal style-form" id="form_select">
              
                 
              
            </form>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" 
            onclick="change_role()" data-dismiss="modal">确定</button>
        </div>
      </div>
    </div>
  </div>

  <!-- common js -->
  <div th:include="common/common_js::common_js" th:remove="tag"></div>

  <!--script for this page-->
  <script>
      //custom select box

      var table;
      var condition = "";
      $(function(){
		  /************** DataTables *****************/
          
    	  // 初始化表格并获取api实例
    	  table = $('#tbl_user').DataTable({
    		  // 国际化
    	     language: {
    	    	url: basePath + "/common/language-zh-CN.txt",
    		 },
    		 /* dom */
    		 dom: 'lrt<"pull-right"i>',	// 默认lfrtip
    		 lengthMenu: [ [10, 25, 50, -1], [10, 25, 50, "所有"] ],
    		 // 允许列排序
    		 orderClasses: false,
    		 // 禁用多列排序
    	//	 orderMuti: true,
    		 // 设置列排序顺序
    		 order: [0, "desc"],
    		 // 设置分页按钮样式
    		 pagingType: "simple_numbers",
    		 // 启用加载提示
    		 processing: true,
    		 // 启用服务器模式
    		 serverSide: true,
    		 // 数据来源（包括处理分页，排序，过滤） ，即url，action，接口，等等
    		 ajax: {
    			 url: basePath + '/user/data_source.do?pageNum=1',
    			 type: 'POST',
    			 // 降低columns[i][search][value]数组的维度
    			 data : function(data) {  
    				 for (var i = 0; i < data.columns.length; i++) {  
    					 column = data.columns[i];  
    					 column.searchRegex = column.search.regex;  
    	                 column.searchValue = column.search.value;  
    	                 delete(column.search); 
    	             }   
    	         },
    			 // 操作服务端返回的数据
    			 dataSrc: function (json) {
    				 updatePage(json.pageNum, json.pageTotal);
    				 return json.data;
    			 },
    		 },
    		// 设置各列对应的数据列，并且禁用第四列和第六列的排序
    		 columns: [ 
    		 	{"data" : "id"}, 
              	{"data" : "username"}, 
            	{"data" : "name"}, 
            	{"data" : "phone"},
            	{"data" : "roles"}, 
            	{"data" : "state"},
            	{"data" : null}
             ],
           	 // 列渲染，可以添加一些操作等
             columnDefs : [
                {
                	targets : 6,
            	 	render : function(data, type, row) {
            	 		var id = row.id;
            	 		var html = '';
            	 		
            	 		if (row.roles.indexOf("管理员") != -1)
            	 			return '';
            	 		
            	 		if ([[${@roleService.userHasPrivilege(session.user.id, '添加用户、修改用户信息')}]]) {
            	 			html += '<button class="btn btn-primary btn-xs" '
                              	+ 'data-toggle="modal" data-target="#edit" '
                              	+ 'title="编辑" onclick="user_find('+id+')"> '
                              	+ '<i class="fa fa-pencil"></i></button> '
            	 		}

            	 		if ([[${@roleService.userHasPrivilege(session.user.id, '删除用户')}]]) {
                            html += '<button class="btn btn-danger btn-xs" '
                            	+ 'data-toggle="modal" data-target="#delete"  '
                            	+ 'title="删除" onclick="change_delId('+id+')"> '
                            	+ '<i class="fa fa-trash-o "></i></button>';
            	 		}
                        return html;
            	 	}
             	}, {
             		targets: [4, 6],
             		orderable: false
             	}, {
             		targets: [0],
             		className: "hidden-phone"
             	}, {
             		targets: [5],
             		render : function(data, type, row) {
             			var html = "";
             			if (data == false) 
             				html = '<label class="label label-danger label-mini">'
             					+ '注销</label>';
             			if (data == true)
             				html = '<label class="label label-success label-mini">'
             					+ '激活</label>';
             			return html;
             		}
             	}
             ],
             // 设置渲染器(bootstrap,bootstrap4,foundation,jqueryui,material,semanticui,uikit)
       //      renderer: "bootstrap",
    		 // 启用延迟渲染
    		 deferRender: true,
    		 // 延迟服务器加载数据直到第二次绘制，总记录数为15，过滤后记录数为10
    		// deferLoading: [10, 15],
    	  });
    	  
    	  // 重绘表格时调整页脚
          table.on( 'init.dt', function () {
        	  positionFooter();
          });
          
    	  // ajax数据加载完成时调整页脚
          table.on( 'xhr.dt', function () {
        	  positionFooter();
          });
    	  
          // 重绘表格时调整页脚
          table.on( 'draw.dt', function () {
        	  positionFooter();
          });
      });
      
      $('#filter').on('show.bs.modal', function () {
    	  // 加载下拉框数据
    	  var html = '<option value="">--请选择角色--</option>';
    	  html += getRoleName();
    	  $('#role_filter').html(html);
      });

      // 
      function getRoleName() {
    	  var html = "";
    	  
    	  $.ajax({
    		  url : basePath + '/role/find_name.do',
    		  type : 'POST',
    		  async : false,
    		  success : function(result) {
    			  var data = result.data;
    			  $.each(data, function(index, role) {
    				 html += "<option value='" + role.id + "'>"
    				 	+ role.name + "</option>";
    			  });
    		  }
    	  });
    	  
    	  return html;
      }
      
      // 显示全部
      function user_refresh() {
    	  
    	  var newUrl = basePath + '/user/data_source.do?pageNum=1';
    	  table.ajax.url(newUrl).load();
    	  
    	  document.getElementById("form_filter").reset(); 
      }
      
      // 更新用户信息
      function user_update() {
    	  // 表单验证
    	  $('#username_edit').validate("登录名");
    	  $('#name_edit').validate("姓名");
    	  $('#role_edit').val($('#role_edit').html());
    	  $('#role_edit').validate("角色");
    	  $('#state_edit').validate("账号状态");
    	  
    	  var user = new Object();
    	  user.id = $('#id_edit').val();
    	  user.username = $('#username_edit').val();
    	  user.name = $('#name_edit').val();
    	  user.phone = $('#phone_edit').val();
    	  user.roles = $('#role_edit').text();
    	  user.state = $('#state_edit').val();
    	  
    	  $.ajax({
    		 url : basePath + '/user/save.do',
    		 type : 'POST',
    		 data : {
    			 userMap : JSON.stringify(user) 
    		 },
    		 success : function(result) {
    			 if (result.resultCode == 200) {
    				 $(location).attr('href', basePath + '/user/info.do');
                 };
    		 }, 
    		 error : function() {
    			 console.log("服务器异常，用户信息修改失败！");
    		 }
    	  });
      }
      
      // 添加用户
      function user_add() {
    	  // 表单验证
    	  $('#username_add').validate("登录名");
    	  $('#name_add').validate("姓名");
    	  $('#role_add').val($('#role_add').html());
    	  $('#role_add').validate("角色");
    	  $('#state_add').validate("账号状态");
    	  
    	  var user = new Object();
    	  user.username = $('#username_add').val();
    	  user.name = $('#name_add').val();
    	  user.phone = $('#phone_add').val();
    	  user.roles = $('#role_add').text();
    	  user.state = $('#state_add').val();
    	  
    	  $.ajax({
     		 url : basePath + '/user/save.do',
     		 type : 'POST',
     		 data : {
     			userMap : JSON.stringify(user)  
     		 },
     		 success : function(result) {
     			 if (result.resultCode == 200) {
     				 $(location).attr('href', basePath + '/user/info.do');
                  };
     		 }, 
     		 error : function() {
     			 console.log("服务器异常，用户添加失败！");
     		 }
     	  });
      }
      
      // 用户过滤查询
      function user_filter() {
    	  
    	  var role = $('#role_filter').val();
    	  if (role != "" && role != null) {
    	  	  condition = "join u.roles r where r.id = " + role;
    	  } else {
    		  condition = "WHERE 1 = 1";
    	  }
    	  
    	  var id = $('#id_filter').val();
    	  var username = $('#username_filter').val();
    	  var state = $('#state_filter').val();
    	  if (id != "" && id != null) {
    		  condition += " AND id = " + id; 
    	  }
    	  if (username != "" && username != null) {
    		  condition += " AND username = '" + username + "'"; 
    	  }
    	  if (state != "" && state != null) {
    		  condition += " AND state = " + state; 
    	  }
    	  
    	  var newUrl = basePath + '/user/data_source.do?pageNum=1&condition=' + condition;
    	  table.ajax.url(newUrl).load();
    	  
    	  $('#filter').modal('hide');
      }
      
      // 查找用户
      function user_find(i) {
    	  
    	  $.ajax({
    		 url : basePath + '/user/find.do',
    		 type : 'POST',
    		 data : {
    			 id : i
    		 },
    		 success : function(result) {
    			 $('#id_edit').val(result.id);
    			 $('#username_edit').val(result.username);
    			 $('#name_edit').val(result.name);
    			 $('#phone_edit').val(result.phone);
    			 $('#role_edit').html(result.roles);
    			 if (result.state == false)
    			    $('#state_edit').val("0");
    			 else
    				 $('#state_edit').val("1");
    		 },
    		 error : function() {
    			 console.log("服务器异常，角色查找失败！");
    		 }
    	  });
      }
      
      var curDelId;
      function change_delId(id) {
    	  curDelId = id;
      }
      
      // 删除供应商
      function user_delete() {
    	  $.ajax({
     		 type : "POST",
     		 url : basePath + "/user/delete.do",
     		 data : {
     			id : curDelId 
     		 },
     		 success : function(result) {
     		//	 console.log(result);//打印服务端返回的数据(调试用)
     			 if (result.resultCode == 200) {
     				 $(location).attr('href', basePath + '/user/info.do');
                  };
     		 },
     		 error : function() {
                  console.log("服务器异常，角色删除失败！");
              }
     	  });
      }
      
      // 获取所有角色
      function getAllRole() {  	  
    	  var html = ""; 	  
          $.ajax({
    		  url : basePath + '/role/find_name.do',
    		  type : 'POST',
    		  async : false,
    		  success : function(result) {
    			  var data = result.data;
    			  $.each(data, function(index, role) {
    				  if (role.name != '管理员')
    				 	html += '<div class="checkbox"><label>'
    				 	+ '<input type="checkbox" value="'
    				 	+ role.name + '" name="role_choose"> '
    				 	+ role.name + '</label></div>';
    			  });
    		  }
    	  });
          
          return html;
      }

      var curType = 0;
      function load_role(type) {
    	  var html = getAllRole();
    	  $('#form_select').html(html);
    	  
    	  curType = type;
    	  var text;
    	  if (curType == 1) 
    	  	  text = $('#role_edit').text();
    	  if (curType == 2)
    		  text = $('#role_add').text();
    	  $('input[name="role_choose"]').each(function(){ 
       	  	if (text != "" && text.indexOf($(this).val(), 0) != -1) {
       	  	   $(this).attr("checked", true);
       	  	} else {
       	  	   $(this).attr("checked", false);
       	  	}
       	  }); 
      }
      
      function change_role() {
  
    	  var chk_value =[]; 
    	  $('input[name="role_choose"]:checked').each(function(){
    	  	  chk_value.push($(this).val()); 
    	  }); 
    	  var text = "";
    	  for (var i = 0; i < chk_value.length; ++ i) {
    		  text = text + chk_value[i] + ",";
    	  }
    	  text = text.substring(0, text.length - 1);
    	  if (curType == 1)
    	  	  $('#role_edit').html(text);
    	  if (curType == 2)
    		  $('#role_add').html(text); 
      }
  </script>
</body>
</html>
